.about {
  max-width: 800px;
  margin: 150px auto;
}

.about h1 {
  font-size: 1.2rem;
}
.about p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0.8px;
}

.about .social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .about p {
    font-size: 1.4rem;
  }
  .about {
    margin: 100px auto;
  }
}
