.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.cartItem .imgContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 50%;
}
.cartItem .imgContainer .title {
  width: 50%;
}
.cartItem h2 {
  font-size: 1.2rem;
}
.title h2::first-letter {
  text-transform: capitalize;
}
.x {
  cursor: pointer;
}
.x span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #463a3b;
  border-radius: 3px;
  transform-origin: 5px 0px;
}
.x span:first-child {
  transform: rotate(45deg) translate(0px, -1px);
}
.x span:last-child {
  transform: rotate(-45deg) translate(0px, -1px);
}
.cartItem .imgWrapper {
  max-width: 120px;
}
.cartItem .imgWrapper img {
  width: 100%;
}
.cartItem .info {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartItem .quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cartItem .quantity input {
  width: 50px;
  height: 32px;
  border-radius: 0.25rem;
  background-color: #fff;
  border: solid #b3c5ce 1px;
  color: #463a3b;
  font-size: inherit;
  font-family: "Libre Caslon Text", serif;
  padding: 0 0 0 1rem;
  outline: none;
}
.cartItem .quantity input:focus {
  outline: 1.5px solid rgb(141, 157, 165);
  -moz-outline-radius: 0.3em;
}

/* Checking out */
.checkingOut .imgWrapper,
.checkingOut .x {
  display: none;
}
.checkingOut .title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.checkingOut .imgContainer {
  width: 100%;
}
.checkingOut .quantity {
  display: flex;
}
.checkingOut .quantity span {
  margin-left: 1rem;
}
.checkingOut .quantity {
  gap: 0;
}

@media screen and (max-width: 700px) {
  .cartItem .info {
    flex-direction: column;
    align-items: flex-end;
  }
  .cartItem .imgContainer {
    width: 80%;
  }
  .cartItem .imgContainer .title {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .cartItem {
    padding: 0;
  }
  .cartItem .imgContainer {
    width: 90%;
  }
  .cartItem:not(.checkingOut) .quantity {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
  .cartItem .title h2,
  .cartItem .title p {
    font-size: 0.9rem;
  }
  .cartItem .imgWrapper {
    max-width: 90px;
  }
  .cartItem .info label {
    font-size: 0.8rem;
  }
  .cartItem .info h2 {
    font-size: 1rem;
  }
  .cartItem .x {
    margin-right: 0.5rem;
  }
}
