.productDetails {
  margin: 150px auto;
}
.productDetails .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.productDetails .desc h1::first-letter,
.productDetails .desc p::first-letter {
  text-transform: capitalize;
}
.productDetails .imgWrapper {
  width: 50%;
}
.productDetails .imgWrapper img {
  width: 100%;
}
.productDetails .desc {
  text-align: center;
  width: 40%;
}
.productDetails .selects {
  margin: 2rem auto;
}

.productDetails .sizes,
.productDetails .quantity {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productDetails .selects label {
  color: #463a3b;
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

.productDetails .quantity input {
  width: 100%;
  min-width: 97px;
  height: 32px;
  border-radius: 0.25rem;
  background-color: #fff;
  border: solid #b3c5ce 1px;
  color: #463a3b;
  font-size: inherit;
  font-family: "Libre Caslon Text", serif;
  padding: 0 0 0 1rem;
  outline: none;
}
.productDetails .quantity input:focus {
  outline: 1.5px solid rgb(141, 157, 165);
  -moz-outline-radius: 0.3em;
}
.select {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .productDetails {
    margin: 100px auto;
  }
  .productDetails .content {
    flex-direction: column;
  }
  .productDetails .imgWrapper {
    width: 60%;
  }
  .productDetails .content .desc {
    width: 90%;
  }
  .productDetails h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .productDetails .imgWrapper {
    width: 90%;
  }
}
